.question{
    background-color: rgb(175 199 215);
    padding: 30px;
    
}
.question-ans{
    border: 1px solid slategrey;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
@media only screen and (max-width: 600px) {
    .question{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        overflow: hidden;
    }
  }